torch
torchvision
transformers==4.51.3
einops
timm
pillow
fastmcp
smolagents[mcp,openai]
qwen-agent[mcp]
json5
mlx-lm
llama-cpp-python[server]
huggingface-hub
numpy
pyobjc-framework-ApplicationServices
pyobjc-framework-Quartz
